%h1
  = link_to @unit.unit_name, admin_unit_path(@unit)
  Classes

%br

- if @unit.lectures.count > 0
  %table
    %tr
      %th Class Name
      %th Room
      %th Lecturer
      %th Time
      %th Attendance
      %th

    - @unit.lectures.order('start_time ASC').each do |lecture|
      = render :partial => "shared/lecture", :locals => { :lecture => lecture }
    -
- else
  %p
    %i No classes were found.
-

%br
%br

%br 

%p
  = link_to "New Class", new_admin_lecture_path
  = "|"
  = link_to "Manage Unit Leaders", admin_unit_path(@unit)
  = "|"
  = link_to "Back to Units", admin_units_path
  = "|"
  = link_to "Back to Admin", admin_path