<h2>Create new Unit</h2>

<%= simple_form_for(@unit, url: admin_units_path) do |f| %>

  <div class="field">
    <%= f.label :unit_name %><br />
    <%= f.text_field :unit_name, autofocus: true, :required => true %>
    <%= f.error :unit_name %>
  </div>

  <div class="field">
    <%= f.label :unit_code %><br />
    <%= f.text_field :unit_code, :required => true %>
    <%= f.error :unit_code %>
  </div>

  <div class="field">
    <%= f.label :unit_year %><br />
    <%= f.number_field :unit_year, :required => true, :value => Date.current.year %>
    <%= f.error :unit_year %>
  </div>

  <div class="actions">
    <%= f.submit "Create new Unit" %>
  </div>
<% end %>