<h2>Leaders for the <%= @unit.unit_name %> Unit</h2>

<table>
  <tr>
    <th>Leader Name</th>
    <th>Leader Email Address</th>
    <th>Lectures In This Unit</th>
    <th>Leader Added</th>
    <th></th>
  </tr>

  <% @unit.leaders_include_relationships.each do |relationship, leader| %>
    <tr>
      <td><%= leader.name %></td>
      <td><%= leader.email %></td>
      <td><%= leader.lectures_taught_in(@unit).count %></td>
      <td><%= relationship.created_at.to_s %></td>
      <td><%= link_to "Remove Leader", admin_unit_delete_leader_path(@unit, leader), :method => "DELETE" %></td>
    </tr>
  <% end %>

  <% if @unit.leaders_include_relationships.count == 0 %>
    <tr>
      <td colspan="4"><i>No leaders found for this unit.</i></td>
    </tr>
  <% end %>
</table>

<br />

<h3>Add new leader</h3>

<%= form_for @unit_lecturer, :url => admin_unit_leaders_path(@unit) do |f| %>
  
  <% if @lecturers_to_add.count == 0 %>
    <p><i>No lecturers available to be assigned as leaders of the "<%= @unit.unit_name %>" unit.</i></p>
  <% else %>
    <div class="field">
      <%= f.label :user_id, "Lecturer" %>
      <%= f.select :user_id, @lecturers_to_add %>
    </div>

    <br />

    <div class="actions">
      <%= content_tag :button, :type => :submit, :"data-style" => "expand-right", :"data-submit-text" => "Adding as unit leader", :class => "ladda-button btn btn-system" do %>
         <span class="ladda-label">Add Lecturer As Unit Leader</span>
         <span class="ladda-spinner"></span>
      <% end %>
    </div>
  <% end %>

<% end %>

<br />

<%= link_to "Back to Units", admin_units_path %> | 
<%= link_to "Back to Admin", admin_path %>