%h1 Administrator Panel

%br

.row
  .col-lg-6
    = image_tag @gchart_attendance_this_week
  .col-lg-6
    = image_tag @gchart_attendance_last_week

%br
%br

%table{ style: "width: 100%; text-align: center" }
  %tr
    %th Students
    %th Lecturers
    %th Administrators
    %th Units
    %th Classes
    %th Logs
  
  %tr
    %td
      -# Students
      %ul
        %li= link_to "View All Students", admin_users_with_type_path(:student)
        %li= link_to "Student With Low Attendance", admin_users_with_type_path(:student) + "?watchlist=true"
        %li= link_to "New Student", admin_new_user_with_type_path(:student)

    %td
      -# Lecturers
      %ul
        %li= link_to "List All Lecturers", admin_users_with_type_path(:lecturer)
        %li= link_to "New Lecturer", admin_new_user_with_type_path(:lecturer)

    %td
      -# Administrators
      %ul
        %li= link_to "List All Administrators", admin_users_with_type_path(:admin)
        %li= link_to "Create New Administrator", admin_new_user_with_type_path(:admin)

    %td
      -# Units
      %ul
        %li= link_to "List All Units", admin_units_path
        %li= link_to "Create New Unit", new_admin_unit_path

    %td
      -# Lectures
      %ul
        %li= link_to "List All Classes", admin_lectures_path
        %li= link_to "Today's Classes", admin_lectures_on_path
        %li= link_to "Create New Class", new_admin_lecture_path

    %td
      -# Logs
      %ul
        %li= link_to "View Logs", admin_logs_path