%h1
  Listing All Classes

%br

- @units.each do |unit|
  - if current_user.admin?
    %h4= link_to unit.unit_name, admin_unit_path(unit)
  - else 
    %h4= unit.unit_name
  -

  - if @lectures.select{ |lecture| lecture.unit == unit }.count > 0
    %table
      %tr
        %th Class
        %th Room
        %th Lecturer
        %th Time
        %th Attendance
        %th

      - @lectures.select{ |lecture| lecture.unit == unit }.each do |lecture|
        = render :partial => "shared/lecture", :locals => { :lecture => lecture }
      -
  - else
    %p
      %i
        No classes were found.
  -

  %br
  %br
-


- if current_user.admin?
  %br

  = will_paginate @units, renderer: BootstrapPagination::Rails
-

%br

%p
  = link_to "New Class", new_admin_lecture_path
  = "|"
  = link_to "Back to Admin", admin_path