<h2>Create New Class</h2>

<br />

<% if Unit.count == 0 %>
  <p><i>You need to create a unit to create a class. <%= link_to "Click here to create a unit.", new_admin_unit_path %></i></p>
<% else %>
  <%= simple_form_for(@lecture, url: admin_lectures_path) do |f| %>
    <div class="row">
      <div class="col-lg-4">
        <div class="field">
          <%= f.label :lecture_name, "Class Name" %>
          <%= f.text_field :lecture_name, autofocus: true, :required => true %>
          <%= f.error :lecture_name %>
        </div>

        <div class="field">
          <%= f.label :lecture_room, "Room" %>
          <%= f.text_field :lecture_room, autofocus: true, :required => true %>
          <%= f.error :lecture_room %>
        </div>

        <div class="field">
          <%= f.label :lecture_type, "Type" %>
          <%= f.select :lecture_type, Lecture.types_for_form, :required => true %>
          <%= f.error :lecture_type %>
        </div>

        <div class="field">
          <%= f.label :unit_id, "Unit" %>
          <%= f.select :unit_id, @units, :required => true, :selected => @unit %>
          <%= f.error :unit_id %>
        </div>

        <div class="field">
          <%= f.label :user_id, "Lecturer" %>
          <% if (current_user.lecturer? and not current_user.is_unit_leader?); @lecturers_fvalue = { selected: current_user.id }; @lecturers_lvalue = { required: true, disabled: true }; else; @lecturers_fvalue = @lecturers_lvalue = {}; end %>
          <%= f.select :user_id, @lecturers, @lecturers_fvalue, @lecturers_lvalue %>
          <%= f.error :user_id %>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="field">
          <%= f.label :start_time %>
          <%= f.text_field :start_time, :required => true, :class => 'datetimepicker disable-select2', :placeholder => "Please select start time" %>
          <%= f.error :start_time %>
        </div>

        <div class="field">
          <%= f.label :end_time %>
          <%= f.text_field :end_time, :required => true, :class => 'datetimepicker disable-select2', :placeholder => "Please select end time" %>
          <%= f.error :end_time %>
        </div>
      </div>
    </div>

    <br />

    <div class="actions">
      <%= content_tag :button, :type => :submit, :"data-style" => "expand-right", :"data-submit-text" => "Creating New Class", :class => "ladda-button btn btn-system" do %>
         <span class="ladda-label">Create New Class</span>
         <span class="ladda-spinner"></span>
      <% end %>
    </div>
  <% end %>
<% end %>