<% if @lecture.has_finished? %>
  <h2>Report for <%= @lecture.lecture_name %> Class</h2>
  <br />
  
  <% if @lecture.students.count > 0 %>
    <div class='row'>
      <div class='col-lg-5 center <%=
        if @lecture.attendance >= 95
          "percentage-great"
        elsif @lecture.attendance <= 75
          "percentage-warning"
        else
          "percentage-healthy"
        end
      %>'>
        <h4>Total attendance</h4>
        <h3 class='percentage-text'><%= @lecture.attendance %>%</h3>
      </div>
      <div class='col-lg-2'>&nbsp;</div>
      <div class='col-lg-5 center <%=
        if @lecture.average_minutes_to_class <= 10
          "percentage-great"
        elsif @lecture.average_minutes_to_class >= 20
          "percentage-warning"
        else
          "percentage-healthy"
        end
      %>'>
        <h4>Average punctuality</h4>
        <h3 class='percentage-text'><%= @lecture.average_minutes_to_class %> minutes</h3>
      </div>
    </div>

    <br />
  <% end %>
<% else %>
  <h2>Students on the <%= @lecture.lecture_name %> Class</h2>
<% end %>

<br />

<table>
  <tr>
    <th>MMU ID</th>
    <th>Student Name</th>
    <th>Student Email Address</th>
    <th>Registration Time</th>
    <th></th>
  </tr>

  <% @lecture.students_with_attendance.each do |record, student| %>
    <tr>
      <td><%= student.mmu_id %></td>
      <td><%= link_to student.name, admin_user_path(student) %></td>
      <td><%= student.email %></td>
      <td>
          <% if record.attended? %>
            <% if record.seconds_late >= 30.minutes %>
              <span class="extremely-late">Extremely late</span>
            <% elsif record.seconds_late >= 15.minutes %>
              <span class="late">Late for <%= @lecture.lecture_type %> by <%= record.minutes_late %> minutes</span>
            <% elsif record.seconds_late >= 10.minutes %>
              <span class="slightly-late">Slightly late</span>
            <% else %>
              <span class="on-time">On time</span>
            <% end %>
          <% else %>
            <span class="not-registered">Not registered for this class</span>
          <% end %></td>
      <td><% unless record.class_started? %>
            <%= link_to "Remove", admin_lecture_remove_student_path(@lecture, student), :method => "DELETE" %>
          <% end %></td>
    </tr>
  <% end %>

  <% if @lecture.students.count == 0 %>
    <tr>
      <td colspan="5">
        <% if @lecture.has_finished? %>
          <i>No students attended the "<%= @lecture.lecture_name %>" class.</i>
        <% else %>
          <i>No students scheduled to attend the "<%= @lecture.lecture_name %>" class.</i>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>

<br />

<% unless @lecture.has_started? %>
  <h4>Add student</h4>

  <%= form_for @lecture_student, :url => admin_lecture_add_student_path(@lecture) do |f| %>
    
    <% if @students_to_add.count == 0 %>
      <div class="alert alert-danger alert-dismissable fade in">
        No students available to add to the "<%= @lecture.lecture_name %>" class.
      </div>
    <% else %>
      <div class="field">
        <%= f.label :user_id, "Student" %>
        <%= f.select :user_id, @students_to_add %>
      </div>

      <br />

      <div class="actions">
        <%= content_tag :button, :type => :submit, :"data-style" => "expand-right", :"data-submit-text" => "Adding Student", :class => "ladda-button btn btn-system" do %>
           <span class="ladda-label">Add Student</span>
           <span class="ladda-spinner"></span>
        <% end %>
      </div>
    <% end %>
  <% end %>

  <br />
  <br />

  <h4>Copy students from another lecture in this unit</h4>

  <% if (other_lectures_for_form = @lecture.other_lectures_for_form).count > 0 %>
    <%= form_tag(admin_lecture_copy_students_path(@lecture), :method => "post") do %>
      <div class="field">
        <%= label_tag(:lecture_to_copy_id, "Lecture to copy from") %>
        <%= select_tag(:lecture_to_copy_id, options_for_select(other_lectures_for_form)) %>
      </div>

      <div class="actions">
        <%= content_tag :button, :type => :submit, :"data-style" => "expand-right", :"data-submit-text" => "Copying Class", :class => "ladda-button btn btn-system" do %>
           <span class="ladda-label">Copy Class</span>
           <span class="ladda-spinner"></span>
        <% end %>
      </div>
    <% end %>
  <% else %>
    <div class="alert alert-danger alert-dismissable fade in">
      No classes available to copy students from.
    </div>
  <% end %>
<% end %>

<br />
<br />

<% unless @lecture.has_finished? %>
  <%= link_to "Go To #{@lecture.lecture_type.capitalize} Register", admin_lecture_register_path(@lecture) %> | 
<% end %>

<%= link_to "Back to #{@lecture.unit.unit_name} Unit", admin_unit_lectures_path(@lecture.unit) %> | 
<%= link_to "Back to Classes", admin_lectures_path %> | 
<%= link_to "Back to Admin", admin_path %>