<h2>Edit <%= @user.first_name.capitalize %>'s <%= @type.capitalize %> Account</h2>

<br />

<% if @user.errors.any? %>
  <div id="errors">
    <%= @user.errors.full_messages.join("<br />").html_safe %>
  </div>
<% end %>

<%= form_for(@user, url: admin_user_path(@user)) do |f| %>
  
  <div class="row">
    <div class="col-lg-4">
      <div class="field">
        <%= f.label :first_name %>
        <%= f.text_field :first_name, autofocus: true, :required => true %>
      </div>

      <div class="field">
        <%= f.label :last_name %>
        <%= f.text_field :last_name, :required => true %>
      </div>

      <div class="field">
        <%= f.label :email, "Email address" %>
        <%= f.email_field :email, :required => true %>
      </div>

      <% if @type == :student %>
        <div class="field">
          <%= f.label :course_name, "Course Name" %>
          <%= f.text_field :course_name, :required => true %>
        </div>
        
        <div class="field">
          <%= f.label :mmu_id, "MMU ID (Example: 12345678)" %>
          <%= f.text_field :mmu_id, :maxlength => 8, :required => false %>
        </div>
      <% end %>
    </div>
    <div class="col-lg-4">
      <div class="field">
        <%= f.label :password, "Password <i>Leave blank to not change</i>".html_safe %>
        <%= f.password_field :password, autocomplete: "off" %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, autocomplete: "off" %>
      </div>
    </div>
  </div>

  <%= f.hidden_field :account_type, :value => @type %>

  <br />

  <div class="field">
    <%= f.label :audit_comment, "Reason for change <i>Optional</i>".html_safe %>
    <%= f.text_area :audit_comment, autocomplete: "off" %>
  </div>

  <br />

  <div class="actions">
    <%= content_tag :button, :type => :submit, :"data-style" => "expand-right", :"data-submit-text" => "Updating #{@user.first_name}'s Account", :class => "ladda-button btn btn-system" do %>
       <span class="ladda-label">Update <%= @user.first_name %>'s Account</span>
       <span class="ladda-spinner"></span>
    <% end %>
  </div>
<% end %>