<h2>Edit <%= @user.first_name.capitalize %>'s <%= @type.capitalize %> Account</h2>

<% if @user.errors.any? %>
  <div id="errors">
    <%= @user.errors.full_messages.join("<br />").html_safe %>
  </div>
<% end %>

<%= form_for(@user, url: admin_user_path(@user)) do |f| %>

  <div class="field">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name, autofocus: true, :required => true %>
  </div>

  <div class="field">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name, :required => true %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, :required => true %>
  </div>

  <div class="field">
    <%= f.label :password %> <i>Leave blank to not change</i><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <%= f.hidden_field :account_type, :value => @type %>

  <% if @type == :student %>
    <div class="field">
      <%= f.label :mmu_id, "MMU ID (Example: 12345678)" %><br />
      <%= f.text_field :mmu_id, :maxlength => 8, :required => false %>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :audit_comment, "Reason for change" %><br />
    <%= f.text_area :audit_comment, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "Update #{@type.capitalize} Account" %>
  </div>
<% end %>