%h1
  - if params.include?(:watchlist)
    Viewing
    = @type.capitalize.to_s.pluralize
    With Low Attendance
  - else
    Viewing All 
    = @type.capitalize.to_s.pluralize
  -

  - if current_user.lecturer?
    In Your Units
  -

%br

%table
  %tr
    - if @type == :student
      %th MMU ID
    -
    %th{ style: "width: 15%" } Full Name
    %th Email Address
    %th{ style: "width: 10%" } Type
    - if @type == :lecturer
      %th{ style: "width: 25%" } Leaders of
    -
    - if @type == :student
      %th Course Name
      %th Attendance
      %th Avg Punctuality
    -
    %th

  - @users.each do |user|
    %tr
      - if @type == :student
        %td= user.mmu_id.blank? ? "<i>Empty</i>".html_safe : user.mmu_id
      -
      %td= user.name
      %td= user.email
      %td= user.type.capitalize
      - if @type == :lecturer
        %td
          = (leaders_of = user.leaders_of.map{ |a| link_to a.unit_name, admin_unit_path(a) }.join(", ")).html_safe
          = "<i>N/A</i>".html_safe if leaders_of.blank?
      -
      - if @type == :student
        %td= user.course_name
        %td= "#{user.attendance}%"
        %td
          - if user.average_minutes_to_class > 0
            = "#{user.average_minutes_to_class} mins"
          - else
            = "-"
          -
      -
      %td
        - if @type == :lecturer
          = link_to "Report for #{@type.capitalize}", admin_user_path(user)
          = "|"
        - elsif @type == :student
          = link_to "Report for #{@type.capitalize}", admin_user_path(user)
          = "|"
        -
        = link_to "Edit", edit_admin_user_path(user)
        
        - if user != current_user and user.admin?
          = "|"
          = link_to "Destroy", admin_user_path(user), :method => "DELETE", class: "delete-confirmation"
        -
  -


- if @users.count == 0
  %p
    %i
      No
      = @type.to_s.pluralize
      were found.
-

- unless current_user.lecturer? or params.include?(:watchlist)
  %br
  = will_paginate @users, renderer: BootstrapPagination::Rails
-

%br

%p
  = link_to "New #{@type.capitalize.to_s}", new_admin_user_path + "?type=#{@type}"
  = "|"
  = link_to "Back to #{current_user.type.capitalize}", admin_path