<h1>Profile for <%= @user.name %></h1>
<br />

<% if @user.student? %>
  <div class='row'>
    <div class='col-lg-3 center <%=
      if @user.attendance >= 95
        "percentage-great"
      elsif @user.attendance <= 75
        "percentage-warning"
      else
        "percentage-healthy"
      end
    %>'>
      <h4>Total attendance</h4>
      <h3 class='percentage-text'><%= @user.attendance %>%</h3>
    </div>
    <div class='col-lg-6'>
      <% if (attendance_gchart = @user.attendance_as_gchart).nil? %>
        <br />
        <br />
        <p class='center'><span class="error-inline">There is not enough data to display a graph about <%= @user.name %>'s attendance.</span></p>
      <% else %>
        <%= image_tag attendance_gchart %>
      <% end %>
      <br />
    </div>
    <div class='col-lg-3'>
      <h4>Activity</h4>
      <p>Created <%= time_ago_in_words @user.created_at %> ago</p>
      <p>Updated <%= time_ago_in_words @user.updated_at %> ago</p>
    </div>
  </div>
<% else %>
  <h4>Activity</h4>
  <p>Created <%= time_ago_in_words @user.created_at %> ago</p>
  <p>Updated <%= time_ago_in_words @user.updated_at %> ago</p>
<% end %>

<br />

<% if @user.student? %>
  <div class='row'>
    <div class='col-lg-6'>
      <h4>Past classes</h4>
      <table>
        <tr>
          <th>Name</th>
          <th>Room</th>
          <th>Lecturer</th>
          <th>When</th>
          <th>Duration</th>
        </tr>

        <% @user.lectures_in_past.each do |lecture| %>
          <tr>
            <td><%= link_to lecture.lecture_name, admin_lecture_path(lecture) %></td>
            <td><%= lecture.lecture_room %></td>
            <td><%= link_to lecture.lecturer.name, admin_user_path(lecture.lecturer) %></td>
            <td><%= lecture.start_time %></td>
            <td><%= lecture.duration %></td>
          </tr>
        <% end %>
      </table>

      <% if @user.lectures_in_past.count == 0 %>
        <br />
        <p class='center'><i>No lectures attended.</i></p>
      <% end %>
    </div>

    <div class='col-lg-6'>
      <h4>Upcoming classes</h4>
      <table>
        <tr>
          <th>Name</th>
          <th>Room</th>
          <th>Lecturer</th>
          <th>When</th>
          <th>Duration</th>
        </tr>

        <% @user.lectures_in_future.each do |lecture| %>
          <tr>
            <td><%= link_to lecture.lecture_name, admin_lecture_path(lecture) %></td>
            <td><%= lecture.lecture_room %></td>
            <td><%= link_to lecture.lecturer.name, admin_user_path(lecture.lecturer) %></td>
            <td><%= lecture.start_time %></td>
            <td><%= lecture.duration %></td>
          </tr>
        <% end %>
      </table>

      <% if @user.lectures_in_future.count == 0 %>
        <br />
        <p class='center'><i>No lectures upcoming.</i></p>
      <% end %>
    </div>
  </div>
<% end %>

<% if @user.lecturer? %>
  <p><strong>Schedule</strong></p>
  <table>
    <tr>
      <th>Name</th>
      <th>Room</th>
      <th>When</th>
      <th>Duration</th>
    </tr>

    <% @user.lectures_in_future.each do |lecture| %>
      <tr>
        <td><%= link_to lecture.lecture_name, admin_lecture_path(lecture) %></td>
        <td><%= lecture.lecture_room %></td>
        <td><%= lecture.start_time %></td>
        <td><%= lecture.duration %></td>
      </tr>
    <% end %>
  </table>

  <% if @user.lectures_in_future.count == 0 %>
    <p><i>No lectures upcoming.</i></p>
  <% end %>
<% end %>

<br />
<br />

<%= link_to "Edit #{@user.type.capitalize}", edit_admin_user_path(@user) %>

<% if @user != current_user %>
  | <%= link_to "Delete Student", admin_user_path(@user), :method => "DELETE", class: "delete-confirmation" %>
<% end %>

| <%= link_to "Back to #{@user.type.capitalize}s", admin_users_with_type_path(@user.type) %>